@import 'meyer-reset.css';

/* SETUP */
* {
    box-sizing: border-box;
}

/* Font */

@font-face {
    font-family: Norse-font;
    src: url(fonts/Norse-Bold.otf);
  }

em {font-style: italic;}

/* Layout */
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 86vw;
    height: 100vh;
    margin-left: 7%;
}

/* Left-hand-side */

.sidebar {
    background-image: url('images/pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg');
    width: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-body {
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    font-family: Norse-font, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 40%;
}

.logo,.logo-title
{
  display:inline-block;
  vertical-align: middle;
  margin-right: -10px;
}

/* RHS */

/* Intro section */
.content {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.intro {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 7%;
    background-color: rgb(237, 241, 242);
}

.intro p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

/* Form Styling */

.contact-form {
    height: 30vh;
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 30%;
    font-family: "Roboto", sans-serif;
}

.contact-form h3 {
    margin-bottom: 1rem;
    font-weight: 600;
}

input {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 3%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

form label {
    display: block;
    font-size: 0.6rem;
    margin-bottom: 1%;
}




.sign-up {
    height: 30vh;
    background-color: rgb(237, 241, 242);
}
